<form action="/recipes" method="post">
  <input type="text" name="name" id="name" value="Name">
  <input type="text" name="ingredients" id="ingredients" value="Ingredients">
  <input type="text" name="cook_time" id="cook_time" value="Cook Time">
  <input type="submit" value="submit">
</form>
